<body style="background: url('assets/bridge_blurred.jpeg') no-repeat center center fixed; background-size: cover; min-height: 100vh;">
<!--<section class="vh-100 text-bg-light" style="background-color: #1a1a1a !important;">-->
  <section class="vh-100">
<!--  <div class="container py-5 h-100" style="background-color: #1a1a1a;">-->
      <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-lg-9 col-xl-7 bg-transparent">
        <div class="card rounded-5  darken-background">
          <div class="card-body p-4 bg-transparent rounded-5">

            <h4 class="text-center my-3 pb-3 text-light" >To Do App</h4>

            <form class="row row-cols-lg-auto g-3 justify-content-center align-items-center mb-4 pb-2 text-light">
              <div class="col-12 text-light">
                <div class="form-outline text-light">
                  <input type="text" style="background-color: #403438;" id="newTodo" placeholder="Enter a task here" class="form-control text-light" />
                </div>
              </div>
              <div class="col-12">
                <button type="submit" class="btn btn-primary" (click)="addTodo()">Save</button>
              </div>
              <div class="col-12">
                <button type="submit" class="btn btn-warning d-none">Get tasks</button>
              </div>
              <div class="col-12">
                <button type="submit" class="btn btn-danger" (click)="logout()">Logout</button>
              </div>
            </form>


            <table class="table mb-4 bg-transparent">
              <thead class=" bg-transparent ">
                <tr>
                  <th scope="col" class=" bg-transparent text-light text-center">No.</th>
                  <th scope="col" class=" bg-transparent text-light text-center">Todo item</th>
                  <th scope="col" class=" bg-transparent text-light text-center">Actions</th>
                </tr>
              </thead>
              <tbody class=" bg-transparent">
                <tr class=" bg-transparent" *ngFor="let item of todosArray; let i = index">
                  <th scope="row" class=" bg-transparent text-light text-center">{{ i + 1 }}</th>
                  <td class=" bg-transparent text-light text-center">{{item.item}}</td>
                  <td class=" bg-transparent text-light d-flex justify-content-center">
                    <button type="submit" class="btn btn-success ms-1" (click)="deleteTodo(item)">Completed</button>
                  </td>
                </tr>
              </tbody>
            </table>


          </div>
        </div>
      </div>
    </div>
  </div>
</section>

</body>
