body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #1a1a1a;
  color: #ffffff;
}

.login-container {


  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #333333;
  border-radius: 0; /* Set border-radius to 0 for a rectangle shape */
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
  padding: 20px;
  width: 100%;
  max-width: 400px;
  padding-left: 5%;
  padding-right: 5%;
}

.login-form {
  margin: 0 auto;
}

h2 {
  text-align: center;
  color: #ffffff;
}

label {
  display: block;
  margin-bottom: 8px;
  color: #ffffff;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 16px;
  border: 1px solid #555555;
  border-radius: 4px;
  background-color: #333333;
  color: #ffffff;
}

button {
  background-color: #3498db;
  color: #ffffff;
  padding: 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  /*width: 100%;*/

  width: calc(100% - 85px); /* Set the button width to match the text boxes */
  /* Subtracting 20px to account for padding on both sides of the text boxes */
  margin-left: 50px; /* Add some margin to separate the button from the text boxes */
  margin-top: 10px;

  transition: width 0.2s ease-in-out; /* Add a transition effect */

}

button:hover {
  background-color: #2980b9;
}

button:active {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3); /* Adjust the box-shadow when button is pressed */
}

/* Font smoothing property */
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
